@font-face {
    font-family: "Avenir Heavy";
    src: url("../fonts/AEH.ttf") format("truetype");
}

body {
    margin: 0;
    padding-top: 10px;
    background: rgb(64, 63, 63);
    font-family: Avenir Heavy;
}

.nav-bar {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    text-align: center;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(247, 247, 247);
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 10px;
}

.nav-about,
.nav-chapters,
.nav-author {
    padding-top: 10px;
}

.buy {
    padding-top: 9px;
    width: 110px;
    height: 30px;
    background: none;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 6px;
    transition: 0.25s;
    cursor: pointer;
}

.buy:hover {
    border: 1px solid rgb(255, 163, 102);
    background: rgb(255, 163, 102);
}

.landing {
    padding-top: 130px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.landing-left {
    text-align: center;
}

.landing-right {
    color: rgb(247, 247, 247);
    text-align: center;
}

.landing-right p {
    margin: 4px;
}

.landing-title {
    padding-top: 50px;
}

.landing-author {
    color: rgb(255, 163, 102)
}

.btn-buy {
    text-decoration: none;
    background: rgb(255, 163, 102);
    margin: auto;
    border: 1px solid rgb(255, 163, 102);
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 6px;
    width: 400px;
    cursor: pointer;
}

.logos {
    display: grid;
    padding-top: 246px;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 90px;
    text-align: center;
}

.verge {
    padding-top: 20px;
    padding-left: 350px;
    background-color: rgb(246, 246, 246)
}

.blacka {
    padding-top: 10px;
    background-color: rgb(246, 246, 246)
}

.creative-bloq {
    padding-top: 15px;
    background-color: rgb(246, 246, 246)
}

.tnw {
    padding-top: 16px;
    background-color: rgb(246, 246, 246)
}

.creative-market {
    padding-top: 17px;
    padding-right: 350px;
    background-color: rgb(246, 246, 246)
}

.about {
    padding-top: 100px;
    background-color: rgb(246, 246, 246);
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-right {
    padding-top: 120px;
    padding-bottom: 150px;
    padding-left: 150px;
}

.about-left {
    color: rgb(45, 45, 45);
    padding-top: 10px;
    text-align: center;
}

.about-left h1 {
    font-size: 55px;
}

.about-left h4 {
    color: rgb(255, 163, 102);
    font-size: 22px;
    margin: 0px;
}

.asd {
    color: rgb(67, 67, 67)
}

.about-left img {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.chapters {
    padding-left: 300px;
    padding-right: 300px;
    background-color: rgb(246, 246, 246);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px;
    text-align: center;
}

.chapters h1 {
    font-size: 55px;
}

.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

.hide3 {
    display: none;
}

.hide4 {
    display: none;
}

.hide5 {
    display: none;
}

.hide6 {
    display: none;
}

.chapter1,
.chapter2,
.chapter3,
.chapter4,
.chapter5,
.chapter6 {
    cursor: pointer;
}

.chapter1,
.chapter2,
.chapter3 {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 76px;
}

.chapter1 {
    border-bottom: 1px solid rgb(192, 192, 192, 0.7);
    border-right: 1px solid rgb(192, 192, 192, 0.7);
}

.chapter2 {
    border-bottom: 1px solid rgb(192, 192, 192, 0.7);
    border-right: 1px solid rgb(192, 192, 192, 0.7);
}

.chapter3 {
    border-bottom: 1px solid rgb(192, 192, 192, 0.7);
}

.chapter4,
.chapter5,
.chapter6 {
    margin-bottom: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.chapter4 {
    border-right: 1px solid rgb(192, 192, 192, 0.7);
}

.chapter5 {
    border-right: 1px solid rgb(192, 192, 192, 0.7);
}

.author {
    background-color: rgb(246, 246, 246);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 450px;
    padding-top: 25px;
}

.author-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-name {
    margin-bottom: 15px;
    color: rgb(255, 163, 102);
    font-size: 25px;
}

.author-subtitle {
    color: rgb(181, 181, 181);
    margin: 0px;
}

.author-about-me {
    font-size: 20px;
}

.why {
    padding-left: 20px;
    padding-top: 90px;
}

.author-why {
    font-size: 20px;
}

.ready {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    background-color: rgb(64, 63, 63);
    text-align: center;
    padding-top: 200px;
    border-bottom: 1px solid rgb(192, 192, 192, 0.7);
}

.ready h1 {
    font-size: 55px;
}

.ready-subtitle {
    color: rgb(175, 175, 175)
}

.btn-buy2 {
    background: rgb(255, 163, 102);
    margin: auto;
    border: 1px solid rgb(255, 163, 102);
    color: white;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
    grid-template-rows: 50px;
    color: rgb(127, 126, 126);
}

.master {
    padding-left: 15px;
}

.master,
.privacy,
.terms {
    padding-top: 15px;
}

.links {
    float: right;
    text-align: right;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 762px) {
    .landing {
        display: block;
    }
    .logos {
        display: block;
    }
    .verge {
        padding-left: 0px;
    }
    .creative-market {
        padding-right: 0px;
    }
    .about {
        display: block;
    }
    .about-right {
        padding-left: 50px;
    }
    .chapters {
        padding-left: 50px;
        max-width: 100%;
    }
    .author {
        padding-bottom: 170px;
    }
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .about-right {
        padding-left: 0px;
    }
    .chapters {
        padding-left: 0px;
        max-width: 100%;
    }
    .author {
        padding-bottom: 700px;
    }
    .ready {
	padding-top: 0px;
	padding-bottom: 150px;
    }
    img {
        max-width: 100%;
    }
}
